*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  
body{
    display:flex;
    flex-direction:column;
    background-size: cover;
    background-repeat:no-repeat;
    background-color:black;
    color:white;
}
nav{
    flex-direction:row;
    width:100%;
    height:75px;
    background-color:white;
    line-height:75px;
    padding:0px 100px;
    position:fixed;
    z-index:1;
}
nav ul {
float:left;
}
  
nav ul li {
    display:inline-block;
    list-style:none; 
}
  
nav ul li a {
    color: black;
    font-size:18px;
    text-align: center;
    padding: 0px 32px;
    text-decoration: none;
    
}
nav ul li a:hover {
    background-color:grey;
}
nav ul li.active{
    color:red;
}

h1{
   margin-top:150px;
   text-align :center;
   font-size: 40px;
   border-bottom:5px solid white;
   margin-bottom: 80px;
   border-radius:200px;
   padding-bottom:30px;
   font-family: 'Chonburi', cursive;
}
.newsitem{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    margin-right:30px;
    margin-bottom:50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.newscontainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    width:70%;
    margin:auto;
}
.newscontainer img{
    width:280px;
    height:280px;
}

.newsitem a{
    width:100px;
    border: 2px solid white;
    background-color:black;
    text-align:center;
    margin-left:180px;
    padding: 5px;
    margin-top:10px;
    text-decoration: none;
    color:white;
}

.Letterbox{
    display:flex;
    flex-direction:row;
    border:10px #333;
    background-color:#131313;
    width:900px;
    margin-top:50px;
    margin-left:290px;
    margin-bottom:100px;
    padding:auto;
}
.Letterbox p{
    text-align:center;
    margin:auto;
    padding:auto;
}
.Letterbox form{
    margin-right:100px;
    margin-top:30px;
    margin-bottom:30px;
}
.footer{
    display:flex;
    width:100%;
    flex-direction:column;
    color:white;
    background-color:#131313;
    
  }
  .socialmedias{
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .socialmedias a{
    margin:15px;
  }
  
  .Policies{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .Policies a{
    margin-right:20px;
    margin-bottom:30px;
    color:white;
  }
  .Policies a:link {
    text-decoration: none;
  
  }
  
  .Policies a:visited {
    text-decoration: none;
  }
  
  .Policies a:hover {
    color:red;
  }
  
  .Policies a:active {
    text-decoration: none;
  }
