*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body{
  display:flex;
  flex-direction:column;
  background-repeat:no-repeat;
  background-color:#131313;
  color:white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color:black;
}

li {
  float:left;
}

li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0px 45px;
  margin-top:20px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  text-decoration:underline;
}

li.dropdown {
  display: inline-block;
  visibility:hidden;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width:480px
){
  li{
    float:right;
  }
  li.dropdown{
    visibility:visible;
  }
  li a{
    margin-top:0px;
  }
  .vertical{
    visibility:hidden;
    font-size:0%;
    padding:0px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding:10px;
    overflow: hidden;
    background-color: white;
  }
  li a{
    padding:0px 0px;
    text-decoration: none;
  }
  .dropbtn{
    display: inline-block;
    color:black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size:30px;
    font-family: 'Courier New', Courier, monospace
  }
  .logo{
    margin-right:200px;
    font-size:20px;
    font-family:fantasy;
    color:black;
  }
  .dropdown-content a:hover {
    text-decoration:none;
    background-color:red;
  }
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 100px;
    margin:auto;
    position:absolute;
    right:15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
}

h1{
   text-align :center;
   font-size: 40px;
   border-bottom:5px solid white;
   margin:auto;
   margin-top:80px;
   margin-bottom: 80px;
   padding-bottom:30px;
   font-family: 'Playball', cursive;
   width:70%;
}
.newscontainer{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  margin:auto;
  flex-wrap:wrap;
  width:70%;
  margin:auto;
}
.newscontainer img{
  width:280px;
  height:280px;
}
.newsitem{
    display:flex;
    flex-direction:column;
    margin-bottom:50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.newsitem p{
  width:285px;
}

.newsitem a{
    width:100px;
    border: 2px solid white;
    background-color:black;
    text-align:center;
    margin-left:180px;
    padding: 5px;
    margin-top:10px;
    text-decoration: none;
    color:white;
}

.Letterbox{
    display:flex;
    flex-direction:row;
    background-color:black;
    width:63%;
    margin:auto;
    margin-top:50px;
    margin-bottom:100px;
    padding:40px;
    font-family: 'Montserrat', sans-serif;
}
.Letterbox p{
    margin:auto;
    width:50%;
}
.Letterbox form{
    margin-right:100px;
    margin-top:30px;
    margin-bottom:30px;
}
.error{ 
  margin:auto;
  color: red; font-size: 0.8em;}
@media screen and (max-width: 480px) {
  .Letterbox{
    width:80%;
  }
  .Letterbox form{
    margin:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:5px;
    margin-bottom:5px;
  }
  .Letterbox input{
    width:100%;
  }
  .Letterbox p{
    margin-left:20px;
    margin-top:5px;
    margin-bottom:5px;
  }
  .button{
    background-color: black;
    border:5px solid white;
  }
}
.footer{
    display:flex;
    width:100%;
    flex-direction:column;
    color:white;
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    
  }
  .socialmedias{
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .socialmedias a{
    margin:30px;
  }
  
  .Policies{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .Policies a{
    margin-right:20px;
    margin-bottom:30px;
    color:white;
  }
  .Policies a:link {
    text-decoration: none;
  
  }
  
  .Policies a:visited {
    text-decoration: none;
  }
  
  .Policies a:hover {
    color:red;
  }
  
  .Policies a:active {
    text-decoration: none;
  }
