*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  
body{
    display:flex;
    flex-direction:column;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: url("Images/background3.jpg");
}
nav{
    flex-direction:row;
    width:100%;
    height:75px;
    background-color:black;
    line-height:75px;
    padding:0px 100px;
    position:fixed;
    z-index:1;
}
nav ul {
float:left;
}
  
nav ul li {
    display:inline-block;
    list-style:none; 
}
  
nav ul li a {
    color: white;
    font-size:18px;
    text-align: center;
    padding: 0px 32px;
    text-decoration: none;
    
}
nav ul li a:hover {
    background-color:grey;
}
nav ul li.active{
    color:red;
}
.products{
    display:flex;
    flex-direction:column;
}
.products h1{
    color:white;
    font-size: 40px;
    text-decoration-style: solid;
    margin-top:150px;
    margin-bottom:100px;
    text-align:center;
    font-family: 'Playball', cursive;
    
}
.products h2{
    color:white;
    font-size: 40px;
    margin-bottom:100px;
    text-decoration-style: solid;
    text-align:center;
    font-family: 'Playball', cursive;
    
}

.Merch{
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    color:white;
    margin:auto;
    font-size:20px;
}
@media screen and (max-width: 480px){
  body{
    background-image: url("Images/background3.jpg");
  }
  .Albums{
    margin:auto;
  }
  .Merch{
    margin:auto;
  }
  .Albums img{
    width:250px;
    height:250px;
  }
  .Merch img{
    width:250px;
    height:250px;
  }
}
.Merch li{
    display:flex;
    flex-direction:column;
    margin-bottom:100px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}
.Albums{
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    font-size:20px;
    color:white;
    margin:auto;
}
.Albums li{
    display:flex;
    flex-direction:column;
    margin-bottom:100px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

#moreproducts{
  text-decoration: underline;
  color:white;
  font-size:20px;
  text-align:center;
  margin-bottom:80px;
  font-family: 'Montserrat', sans-serif;
}
.footer{
    display:flex;
    width:100%;
    flex-direction:column;
    color:white;
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    
  }
  .socialmedias{
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .socialmedias a{
    margin:15px;
  }
  
  .Policies{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .Policies a{
    margin-right:20px;
    margin-bottom:30px;
    color:white;
  }
  .Policies a:link {
    text-decoration: none;
  
  }
  
  .Policies a:visited {
    text-decoration: none;
  }
  
  .Policies a:hover {
    color:red;
  }
  
  .Policies a:active {
    text-decoration: none;
  }