*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body{
  display:flex;
  flex-direction:column;
  background-size: cover;
  background-repeat:no-repeat;
  background-color:#131313;
}
.alignlinkinimage{
  position:relative;
}
#aligntour{
  position: absolute;
  top:64%;
  right: 54.5%;
  width: fit-content;
  text-align: center;
  font-size: 16px;
  color:white;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
#alignnews{
  position: absolute;
  top:64%;
  right: 49.7%;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
#alignmusic{
  position: absolute;
  top:64%;
  right: 44.7%;
  width: fit-content;
  text-align: center;
  font-size: 16px;
  color:white;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
#alignstore{
  position: absolute;
  top:64%;
  right: 39.7%;
  width: fit-content;
  text-align: center;
  font-size: 16px;
  color:white;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
#aligntitle{
  position: absolute;
  top:68%;
  right: 42%;
  width: fit-content;
  text-align: center;
  font-size: 18px;
  color:white;
  text-decoration:none;
  font-size:50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.alignlinkinimage img{
  height:743px;
}
.links a:hover{
  text-decoration:underline;
  background-color: red;
}
.alignlinkinimage img { 
  width: 100%;
  height: 743px;
}
@media screen and (max-width: 480px){
  .alignlinkinimage img{
    width:100%;
    height:700px;
  }
  #aligntour{
    top:64%;
    right: 68%;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  #alignnews{
    position: absolute;
    top:64%;
    right:52%;
    font-size: 12px;
  }
  #alignmusic{
    position: absolute;
    top:64%;
    right: 35%;
    width: fit-content;
    font-size: 12px;
  }
  #alignstore{
    position: absolute;
    top:64%;
    right: 20%;
    width: fit-content;
    text-align: center;
    font-size: 12px;
    color:white;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  #aligntitle{
    position: absolute;
    top:68%;
    right: 35%;
    width: fit-content;
    text-align: center;
    color:white;
    text-decoration:none;
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
}
.Biography{
  display:flex;
  flex-direction:row;
  padding:100px;
  border-top:5px solid white;
}

.BiographyDescription{
  display:flex;
  flex-direction:column;
  color:white;
  font-size:20px;
  padding: 5%;
  font-family: 'Roboto', sans-serif;
}
.Biography h1{
  font-family: 'Playball', cursive;
  margin-bottom:50px;
  font-size:50px;
}
.Biography img{
  max-width:100%;
  height:50%;
}

.Biography p{
  color:white;
  width:100%;
  margin-bottom:15px;

}
@media screen and (max-width: 480px) {
  .Biography{
    display:flex;
    flex-direction:column;
    padding:0px;
  }
  .BiographyDescription{
    width:60%;
    font-size:15px;
    padding:0%;
    margin:auto;
  }
  .Biography h1{
    margin-top:20px;
    margin-bottom:10px;
    font-size:30px;
  }
  .Biography img{
    max-width:100%;
    height:80%;
  }
}

.LatestRelease{
  border-top:5px solid white;
  margin:auto;
  width:80%;
}
#heading_LR{
  color:white;
  margin-top:100px;
  margin-bottom:50px;
  font-size: 50px;
  text-decoration:none;
  font-family: 'Playball', cursive;
  text-align:center;
}
.albumcontainer{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  flex-wrap:wrap;
  margin:auto;
}
.albumcontainer img{
  width:180px;
  height:180px;
}
.albumitems{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    margin-bottom:50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.albumitems a{
    width:180px;
    border: 2px solid white;
    background-color:black;
    text-align:center;
    margin:auto;
    padding: 5px;
    margin-top:20px;
    text-decoration: none;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 480px) {
  #heading_LR{
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    font-size:40px;
  }
}
.Letterbox{
  width:73%;
  display:flex;
  flex-direction:row;
  background-color: black;
  margin:auto;
  margin-top:30px;
  margin-bottom:70px;
  padding:40px;
  color:white;
  font-family: 'Montserrat', sans-serif;
}
.Letterbox p{
  margin:auto;
}
.Letterbox form{
  margin-right:100px;
  margin-top:30px;
  margin-bottom:30px;
}
.error{ 
  margin:auto;
  color: red; font-size: 0.8em;}

@media screen and (max-width: 480px) {
  .Letterbox{
    margin:auto;
    width:80%;
    margin-top:20px;
    margin-bottom:40px;
  }
  .Letterbox form{
    margin:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:5px;
    margin-bottom:5px;

  }
  .Letterbox input{
    width:100%;
  }
  .Letterbox p{
    margin-left:20px;
    margin-top:5px;
    margin-bottom:5px;
  }
}
.Latestvideo{
  display:flex;
  flex-direction:column;
  margin:auto;
}
.Latestvideo iframe{
  margin:auto;
}

.Latestvideo h2{
  text-align:center;
  color:white;
  font-size: 50px;
  text-decoration:none;
  font-family: 'Playball', cursive;
}

.Latestvideo a{
  text-decoration: underline;
  color:white;
  font-size:20px;
  text-align:center;
  margin-top:50px;
  margin-bottom:50px;
  font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 480px) {
  .Latestvideo iframe{
    width:80%;
    margin:auto;
    height:10%
  }
  .Latestvideo h2{
    font-size: 30px;
    margin-bottom: 5%;
  }
  .Latestvideo a{
    margin:auto;
    margin-top:5%;
  }
}
.Latestmerchandise{
  margin:auto;
  width:85%;
}
.Latestmerchandise h2{
  margin-top:50px;
  margin-bottom:50px;
  text-align:center;
  color:white;
  font-size: 50px;
  text-decoration:none;
  font-family: 'Playball', cursive;
}
.Latestmerchandise h3{
  margin-top:10px;
  color:white;
  font-size:25px;
  text-align:start;
  font-family: 'Montserrat', sans-serif;
  
}
.Merchandisecontainer{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  width:100%;
  margin:auto;
}
.Latestmerchandise img{
  width:320px;
  height:320px;
}
.merchandiseitems{
    display:flex;
    flex-direction:column;
    margin-bottom:50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.merchandiseitems a{
    width:fit-content;
    border: 2px solid white;
    padding: 10px;
    margin-top:25px;
    text-decoration: none;
    color:white;
    background-color:black;
    font-family: 'Montserrat', sans-serif;
}
#visitthestore{
  text-decoration: underline;
  color:white;
  font-size:20px;
  text-align:center;
  margin-bottom:80px;
  font-family: 'Montserrat', sans-serif;
}
.merchandiseitems h3{
  font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 480px) {
  .Latestmerchandise{
    width:100%;
  }
  .Latestmerchandise h2{
    font-size:30px;
    margin-top:20%;
    margin-bottom:10%;
  }
  .Latestmerchandise h3{
    margin:auto;
    color:white;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    margin-top:5%;
    
  }
  .Merchandisecontainer{
    flex-direction:column;
    width:100%;
    margin:auto;
  }
  .Latestmerchandise img{
    width:200px;
    height:200px;
    margin:auto;
  }
  .merchandiseitems a{
    margin:auto;
    margin-top:5%;
    font-family: 'Montserrat', sans-serif;
  }

}



.footer{
  display:flex;
  width:100%;
  flex-direction:column;
  color:white;
  background-color:black;
  font-family: 'Montserrat', sans-serif;
  
}
.socialmedias{
  padding:20px;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.socialmedias a{
  margin:15px;
}

.Policies{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.Policies a{
  margin-right:20px;
  margin-bottom:30px;
  color:white;
}
@media screen and (max-width: 480px){
  .Policies a{
    margin-left:20px ;
    font-size:12px;
  }
}
.Policies a:link {
  text-decoration: none;
}

.Policies a:visited {
  text-decoration: none;
}

.Policies a:hover {
  color:red;
}

.Policies a:active {
  text-decoration: none;
}

