*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  
  body{
    display:flex;
    flex-direction:column;
    background-size: cover;
    background-repeat:no-repeat;
    background-color:#131313;
  }
  nav{
    flex-direction:row;
    width:100%;
    height:75px;
    background-color:black;
    line-height:75px;
    padding:0px 100px;
    position:fixed;
    z-index:1;
  }
  nav ul {
    float:left;
  }
  
  nav ul li {
    display:inline-block;
    list-style:none; 
  }
  
  nav ul li a {
    color: white;
    font-size:18px;
    text-align: center;
    padding: 0px 32px;
    text-decoration: none;
    
  }
  nav ul li a:hover {
    background-color:grey;
  }
  nav ul li.active{
    color:grey;
  }

  .firstvideo{
      width:90%;
      display:flex;
      flex-direction:row;
      color:white;
      margin:auto;
      margin-top:120px;
      margin-bottom:80px;
      justify-content:space-evenly;
      font-size:40px;
      padding-bottom:30px;
      border-bottom: 10px solid white;
  }
  .firstvideo p{
      margin:auto;
      font-family: 'Playfair Display', serif;
  }
  
  .othervideos{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      width:91%;
      justify-content: flex-start;
      margin:auto;
      margin-bottom:100px;
  }
  .othervideos iframe{
      margin-bottom:20px;
  }
  #morevideos{
    text-decoration: underline;
    color:white;
    font-size:20px;
    text-align:center;
    margin-bottom:80px;
    font-family: 'Open Sans', sans-serif;
  }
  @media screen and (max-width: 480px){
    .firstvideo{
      flex-direction:column;
      margin-top:20%;
    }
    .firstvideo p{
      margin:0%;
    }
    .othervideos{
      flex-direction:column;
    }

    .firstvideo iframe{
      width:350px;
      height:215px;
    }
    .firstvideo p{
      font-size:30px;
    }
    .othervideos iframe{
      width:250px;
      height:180px;
    }
    #morevideos{
      margin-right:50%;
    }
  }
  .footer{
    display:flex;
    width:100%;
    flex-direction:column;
    color:white;
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    
  }
  .socialmedias{
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .socialmedias a{
    margin:15px;
  }
  
  .Policies{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .Policies a{
    margin-right:20px;
    margin-bottom:30px;
    color:white;
  }
  .Policies a:link {
    text-decoration: none;
  
  }
  
  .Policies a:visited {
    text-decoration: none;
  }
  
  .Policies a:hover {
    color:red;
  }
  
  .Policies a:active {
    text-decoration: none;
  }
  
  