*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  
body{
    display:flex;
    flex-direction:column;
    background-size: cover;
    background-repeat:no-repeat;
    background-color:#131313;
}
nav{
    flex-direction:row;
    width:100%;
    height:75px;
    background-color:black;
    line-height:75px;
    padding:0px 100px;
    position:fixed;
    z-index:1;
}
nav ul {
float:left;
}
  
nav ul li {
    display:inline-block;
    list-style:none; 
}
  
nav ul li a {
    color: white;
    font-size:18px;
    text-align: center;
    padding: 0px 32px;
    text-decoration: none;
    
}
nav ul li a:hover {
    background-color:grey;
}
nav ul li.active{
    color:red;
}
.tour{
      display:flex;
      flex-direction:column;
      color:white;
      margin-top:110px;
      text-transform:uppercase;
}
.tour h1{
    font-size:30px;
    margin:auto;
    margin-bottom:50px;
    padding:40px;
    font-weight:bold;
    text-decoration: none;
    font-family: 'Playball', cursive;
}

.informationcontainer{
    display:flex;
    flex-direction:column;
    width:80%;
    margin:auto;
}
.information{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly; 
    margin:auto;
    text-align:center;
}

.dates{
    width:20%;
    font-family: 'Open Sans', sans-serif;
}
.location{
    width:20%;
    font-family: 'Montserrat', sans-serif;
}
.country{
    width:20%;
    font-family: 'Montserrat', sans-serif;
}
.information a{
    margin-bottom:49px;
    background-color: red;
    width:90px;
    border:10px red;
    color:white;
    text-align:center;
    padding:10px;
    text-decoration: none;
}
@media screen and (max-width: 480px) {

    .information{
        display:flex;
        justify-content:center;
        flex-direction:column;
    }
    .dates{
        width:60%;
        margin:auto;
        margin-bottom:3%;
        font-size:13px;
    }
    .location{
        width:60%;
        margin:auto;
        margin-bottom:3%;
    }
    .country{
        width:60%;
        margin:auto;
        margin-bottom:3%;
    }
    .information a{
        margin:auto;
        margin-bottom:8%;
    }
}

.footer{
    display:flex;
    width:100%;
    flex-direction:column;
    color:white;
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    
  }
  .socialmedias{
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .socialmedias a{
    margin:15px;
  }
  
  .Policies{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .Policies a{
    margin-right:20px;
    margin-bottom:30px;
    color:white;
  }
  .Policies a:link {
    text-decoration: none;
  
  }
  
  .Policies a:visited {
    text-decoration: none;
  }
  
  .Policies a:hover {
    color:red;
  }
  
  .Policies a:active {
    text-decoration: none;
  }
  
