*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  
  body{
    display:flex;
    flex-direction:column;
    background-repeat:no-repeat;
    background-color:#131313;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float:left;
  }
  
  li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 45px;
    margin-top:20px;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover .dropbtn {
    text-decoration:underline;
  }
  
  li.dropdown {
    display: inline-block;
    visibility:hidden;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width:480px
  ){
    li{
      float:right;
    }
    li.dropdown{
      visibility:visible;
    }
    li a{
      margin-top:0px;
    }
    .vertical{
      visibility:hidden;
      font-size:0%;
      padding:0px;
    }
    nav ul {
      list-style-type: none;
      margin: 0;
      padding:10px;
      overflow: hidden;
      background-color: white;
    }
    li a{
      padding:0px 0px;
      text-decoration: none;
    }
    .dropbtn{
      display: inline-block;
      color:black;
      text-align: center;
      padding: 10px 20px;
      text-decoration: none;
      font-size:30px;
      font-family: 'Courier New', Courier, monospace
    }
    .logo{
      margin-right:200px;
      font-size:20px;
      font-family:fantasy;
      color:black;
    }
    .dropdown-content a:hover {
      text-decoration:none;
      background-color:red;
    }
    .dropdown-content {
      display: none;
      background-color: #f9f9f9;
      min-width: 100px;
      margin:auto;
      position:absolute;
      right:15px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
    }
  }
.tour{
      display:flex;
      flex-direction:column;
      color:white;
      text-transform:uppercase;
}
.tour h1{
    font-size:30px;
    margin:auto;
    margin-top:70px;
    margin-bottom:100px;
    font-weight:bold;
    text-decoration: none;
    font-family: 'Playball', cursive;
}

.informationcontainer{
    display:flex;
    flex-direction:column;
    width:80%;
    margin:auto;
}
.information{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly; 
    margin:auto;
    text-align:center;
}

.dates{
    width:20%;
    font-family: 'Open Sans', sans-serif;
}
.location{
    width:20%;
    font-family: 'Montserrat', sans-serif;
}
.country{
    width:20%;
    font-family: 'Montserrat', sans-serif;
}
.information a{
    margin-bottom:49px;
    background-color: red;
    width:90px;
    border:10px red;
    color:white;
    text-align:center;
    padding:10px;
    text-decoration: none;
}
@media screen and (max-width: 480px) {

    .information{
        display:flex;
        justify-content:center;
        flex-direction:column;
    }
    .dates{
        width:60%;
        margin:auto;
        margin-bottom:3%;
        font-size:13px;
    }
    .location{
        width:60%;
        margin:auto;
        margin-bottom:3%;
    }
    .country{
        width:60%;
        margin:auto;
        margin-bottom:3%;
    }
    .information a{
        margin:auto;
        margin-bottom:8%;
    }
    .tour h1{
        margin-bottom:50px;
        font-size:25px;
    
    }
}

.footer{
    display:flex;
    width:100%;
    flex-direction:column;
    color:white;
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    
  }
  .socialmedias{
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .socialmedias a{
    margin:15px;
  }
  
  .Policies{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }
  .Policies a{
    margin-right:20px;
    margin-bottom:30px;
    color:white;
  }
  @media screen and (max-width: 480px){
    .Policies a{
      margin-left:20px ;
      font-size:12px;
    }
  }
  .Policies a:link {
    text-decoration: none;
  
  }
  
  .Policies a:visited {
    text-decoration: none;
  }
  
  .Policies a:hover {
    color:red;
  }
  
  .Policies a:active {
    text-decoration: none;
  }
  
